---
import "@/styles/global.css";
import { Font } from "astro:assets";
import Head from "../components/Head.astro";

const { title, description } = Astro.props;
---
<html lang="en">
	<head>
		<Head>
			<meta name="description" content={description}>
			<title>{title}</title>
            <Font cssVariable="--font-body" preload />
            <Font cssVariable="--font-heading" preload />
		</Head>
	</head>
	<body>
        <div id="app">
            <slot />
        </div>
	</body>
</html>

<style>
#app {
    height: 100svh;
    display: grid;
    grid-auto-rows: 1fr auto;
    place-items: center;
    background-color: var(--background);
    color: var(--foreground);
}
</style>